*{
 box-sizing: border-box;
}

#txt{
    width: 50vw;
    height: 50vh;
    background-color: /;
    margin: auto;
    display: grid;
    place-items: center;
}
#txt h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    /* align-items: center;
    justify-content: center; */
}
