*{
    margin : 0;
    box-sizing: border-box;
}


.nav-bar{
    width: 100vw;
    height: 10%;
    right: 0;
    /* display: flex;  */
    
}
.head{
    margin-left: auto;
    margin-right:250px ;
    border-radius: 50px;
}
.head{
    display: flex;
    justify-content: space-between;
    gap: 34px;
}
.head ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.head li{
    padding: 12px;
    font-size: 2rem; 
    transition: transform 0.3s ease-in-out, color 0.5s ease-in-out; /* Transition transform and color */
}

.li:hover{
    /* display: inline-block; */
    transform: scale(1.2);
    color: rgb(74, 141, 230);
}
.head h2{
    font-size:2rem;
    text-align: center;
    margin-left: 5rem;
    margin-top: .7rem;
}

